<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="keyFilePath" value=""/>
    <add key="keyPassword" value="notasecret"/>
    <add key="serviceAccountEmail" value=""/>
    <add key="websiteCode" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>